.plans > .top-card > .content {
  background-image: linear-gradient(to right, #d9eafa, #f1f4ed, #fbedfe);
}

.lenis.lenis-smooth [data-lenis-prevent] {
  /* pointer-events: none; */
  overscroll-behavior: contain;
}


/* *{
  outline: 1px solid red;
} */